:root {
    --main-color: #0600A8;
}

body {
    font-family: 'Francois One', sans-serif;
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url("../assets/img/bg-title.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    letter-spacing: 4px;
}

.header-logo img {
    width: 150px;
}

ul {
    list-style-type: none;
    cursor: pointer;

    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    padding: 20px;
    border-radius: 20px;
}

ul li:hover {
    background-color: var(--main-color);
    color: white;
}

.header-nav {
    display: flex;
    width: 50vw;
    justify-content: space-between;

    font-size: 32px;
}

.header-user {
    font-size: 32px;

}

